@import "tailwindcss";

* {
    /*outline: 2px red solid;*/
}

:root {
    --background: oklch(0.987 0.022 95.277);
    --foreground: #171717;
}

/*noinspection CssUnresolvedCustomProperty*/
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--color-yellow-300);
    --color-red: var(--color-red-600);
    --color-red-alt: #ff4e30;

    --font-header: var(--font-calistoga), sans-serif;
    --font-header-alt: var(--font-cabin-sketch), sans-serif;
    --font-body: var(--font-cabin), sans-serif;
    --font-footer: var(--font-gaegu), sans-serif;
}
